:root {
    --primary-color: #6f6340; /* donker bruin */
    --secondary-color: #c3b07d; /* licht bruin */
    --accent-color: #e3a722; /* goud */
  }

body {
    font-family: Arial, sans-serif;
    background: url("/assets/10-rounds-wrong-answers-background.png") no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

main {
    margin: 5rem;
    border: 20px solid rgba(227, 167, 34, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.quote-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Ruimte tussen de quote-container en input-section */
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quote-section {
    display: grid;
    grid-template-columns: 1fr;
}

.quote-container blockquote {
    font-size: 1.5em;
    font-style: italic;
    color: #555;
}

.quote-container p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #777;
}

.quote-container .score,
.quote-container .amount {
    display: block;
    font-size: 1em;
    color: #999;
}

.quote-container button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 10px;
    color: black;
}

#karakter,
#film {
    background-color: #6f6340;
    border: 4px solid #e3a722;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Beide nemen evenveel ruimte in */
    /*background: rgba(255, 255, 255, 0.2); /* Semi-transparant wit */
    width: 48%; /* Zorgt voor een kleine ruimte tussen de artikelen */
    text-align: center;
    padding-top:6px;
}

#karakter h3,
#film h3 {
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #444;
}

#karakter button,
#film button {
    display: block;
    /*margin: 5px 0;*/
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#karakter button:hover,
#film button:hover {
    background-color: #555;
}

#submit-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center; 
}

.next-button {
    text-align: center;
    width: 20%;
    height: 30%;
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;

}

.next-button:hover {
    background-color: #45a049;
}

section {
    display: flex;
    justify-content: space-between;
}


