body{
    background-image: url("/assets/highscores-startpage-background.jpg");
}
main{
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}
main image{
    min-width: 100%;
}
main image, .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scores article{
    border-radius: 10%;
    margin: 1%;
    background-color: #e3a722;
}
main article{
    min-width: 50%;
}
.scores{
    margin-left: -15%;
    margin-right: -10%;
}