body {
  font-family: Arial, sans-serif;
  background: url("/assets/10-rounds-wrong-answers-background.png") no-repeat
    center center fixed;
  background-size: cover;
  color: #333;
  line-height: 1.6;
}

main {
  text-align: center;
  color: white;
  font-size: 2rem;
  display: grid;
  place-items: center;
  padding: 10rem;
  height: 42vw;
}

p {
  padding-bottom: 3rem;
}

#Home-Button {
  background-color: black;
  width: 20rem;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}

#Mistakes-Button {
  font-size: 2rem;
  border-radius: 15px;
}
