<footer class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start"></div>
    <p class="p-2" class="d-flex justify-content-center" class="d-flex align-items-center">
      <span style="font-family: 'Arial', sans-serif">&copy;</span> Lord Of The
      Coders
    </p>
    <article class="align-items-center text-right h-100">
      <!-- <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a> -->
      <a href="https://www.linkedin.com/in/exan-fabry-5194ab231/" class="me-2"><img src="assets/linkedin.png" alt="linkedin"/></a>
      <!-- <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Freepik - Flaticon</a> -->
      <a href="https://github.com/ExanFabry/LordOfTheCoders"
        ><img src="assets/github.png" alt="github"/></a>
    </article>
  </footer>
</body>
</html>