<header class="d-flex justify-content-between align-items-center">
    <img
      src="/assets/lord-of-the-coders-logo.png"
      alt="LordOfTheCodersLogo"
      class="d-flex justify-content-start"
    />
    <article
      class="p-2"
      class="d-flex justify-content-center"
      class="d-flex align-items-center"
    >
      <h1>The One</h1>
      <p>By Lord Of The Coders</p>
    </article>
    <!-- https://www.flaticon.com/free-icon/lines_10092593?term=hamburger+menu&page=1&position=96&origin=search&related_id=10092593 -->
    <img
      src="assets/menu.png"
      alt="hamburger menu"
      class="p-2"
      class="d-flex justify-content-end"
      id="hamburger-menu"
    />
  </header>
  <nav id="nav-menu" class="d-none">
    <ul class="align-items-center text-left">
      <li class="p-2" class="d-flex justify-content-center text-right">
        <a href="/home"
          ><img src="assets/house-black-silhouette-without-door.png" alt=""
        /></a>
      </li>
      <li class="p-2" class="d-flex justify-content-center text-right">
        <a href="/favorite"><img src="assets/heart.png" alt="" /></a>
      </li>
      <li class="p-2" class="d-flex justify-content-center text-right">
        <a href="/blacklist"
          ><img src="assets/forbidden.png" alt=""
        /></a>
      </li>
      <li class="p-2" class="d-flex justify-content-center text-right">
        <a href="/highscore"><img src="assets/trophy.png" alt="" /></a>
      </li>
      <li class="p-2" class="d-flex justify-content-center text-right">
        <a href="/"><img src="assets/logout.png" alt="" /></a>
      </li>
    </ul>
  </nav>