<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blacklist | Lord Of The Coders</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="nofollow"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/blacklist.css" />
    <script src="javascript/hamburger-menu.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/lord-of-the-coders-logo.png"
    />
    <audio autoplay loop>
      <!-- https://archive.org/details/TheLordOfTheRings_OST -->
      <source src="/assets/theshire.mp3" type="audio/mpeg" />
    </audio>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="kader">
        <h2 class="title">Blacklist</h2>
        <section class="list">
          <article class="listkader">
            <h2>Quote (Q)</h2>
            <h2>Answer (A)</h2>
            <h2>Reden (R)</h2>
          </article>

          <article class="listkader">
            <h4>Q: "You shall not pass"</h4>
            <h4>A: Gandalf - Fellowship of the ring</h4>
            <h5>R: Ik vond deze quote te cheesy</h5>
          </article>
          <article class="listkader">
            <h4>Q: "So you have chosen death"</h4>
            <h4>A: Saruman - Fellowship of the ring</h4>
            <h5>R: Ik voelde me bedreigd.</h5>
          </article>
        </section>
      </section>
    </main>
    <%- include("partials/footer") %>