<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landingpage</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="/assets/lord-of-the-coders-logo.png">
    <audio autoplay loop>
        <!-- https://archive.org/details/TheLordOfTheRings_OST -->
        <source src="/assets/theshire.mp3" type="audio/mpeg">
    </audio>
</head>
<body>
    <main class="d-flex flex-wrap">
        <article>
            <a href="/login"><img src="assets/lord-of-the-coders-logo.png" alt="Lord of the rings" class="right-project"></a>
        </article>
        <article>
            <section><img src="assets/fortnite-logo.png" alt="Fortnite" class="wrong-project" tabindex="0"></section>
        </article>
        <article>
            <section><img src="assets/pokemon-logo.png" alt="Pokemon" class="wrong-project" tabindex="0"></section>
        </article>
        <article>
            <section><img src="assets/magic-the-gathering-logo.png" alt="Magic the gathering" class="wrong-project" tabindex="0"></section>
        </article>
        <article>
            <section><img src="assets/lego-logo.png" alt="Lego" class="wrong-project" tabindex="0"></section>
        </article>
        <article>
            <section><img src="assets/fifa-logo.png" alt="Fifa" class="wrong-project" tabindex="0"></section>
        </article>
    </main>
    <%- include("partials/footer") %>