<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bekijk je fouten | Lord Of The Coders</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mistakes.css">
    <script src="javascript/hamburger-menu.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/assets/lord-of-the-coders-logo.png">
    <audio autoplay loop>
        <!-- https://archive.org/details/TheLordOfTheRings_OST -->
        <source src="/assets/theshire.mp3" type="audio/mpeg">
    </audio>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        
        <section>
            <h2>Bekijk je fouten</h2>
            <article class="kader">
        <article class="listkader">
            <h3>"You shall not pass"</h3>
            <p class="answer">Juiste antwoord: Gandalf - Fellowship of the ring</p>
        </article>
        <article class="listkader">
            <h3>"My Precious"</h3>
            <p class="answer">Juiste antwoord: Smeagle - Fellowship of the ring</p>
        </article></article></section>
    </main>
    <%- include("partials/footer") %>

