<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registreer je | Lord Of The Coders</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="icon" type="image/x-icon" href="/assets/lord-of-the-coders-logo.png">
    <script src="javascript/register.js" defer></script>
    <audio autoplay loop>
        <!-- https://archive.org/details/TheLordOfTheRings_OST -->
        <source src="/assets/theshire.mp3" type="audio/mpeg">
    </audio>
</head>
<body>
    <main>
        <p id="the-lord-text">The Lord Of The Rings</p>
        <article>
            <h2>Registreer</h2>
            <form>
                <article>
                    <input type="text" name="username" placeholder="Gebruikersnaam">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="password" name="password" placeholder="Wachtwoord">
                    <input type="password" name="confirm-password" placeholder="Herhaal wachtwoord">
                </article>
                <button type="submit">Account aanmaken</button>
            </form>
        </article>
    </main>
    <%- include("partials/footer") %>

