<header class="d-flex justify-content-between align-items-center">
  <img
    src="/assets/LOTR-logo.jpg"
    alt="LordOfTheCodersLogo"
    class="d-flex justify-content-start"
  />

  <article class="p-2 d-flex justify-content-center align-items-center">
    <h1>The One</h1>
    <p>By Lord Of The Coders</p>
  </article>
<style>#sidebar.collapsed {
        width: 0 !important;
        overflow: hidden;
    }</style>


  <button id="hamburger-btn" class="p-2" style="background: none; border: none;" onclick="document.querySelector('aside').classList.toggle('collapsed')">
  
    <img
      src="/assets/menu.png"
      alt="hamburger menu"
      style="width: 35px; height: 35px;"
    />
  </button>
</header>
